*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
summary {
	cursor: pointer;
}

:root {
	/* startje */
	--color-textwhite: white;
	--color-textblack: black;
	--color-orangered: #ff4b0a;
	--color-textred: red;
	--color-svgwhite: white;
	--color-red: red;
	--clr-hoverred: #FF0246;

	--background-black: black;
	--background-white: white;


	--clr-topheader: #111;
	--clr-topheaderbutton: #333;

	--sharpfont: "sharp grotesk";
	--tuskerfont: "tusker grotesk";

}

/************************/
/* main 1st section css*/
/***********************/

main>section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main>section:nth-of-type(1)>h1 {
    margin-top: 1em;
}

/************************/
/* main 2nd section css*/
/***********************/

main {
    background-image:url(../images/background-white.svg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;

}


main>section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;

}

main>section:nth-of-type(2)>h2 {
    font-size: 2em;
    color: gray;
}

main>section:nth-of-type(2)>ul {
    display: flex;
    flex-direction: column;
   list-style: none;
   gap: 1em;
}

main>section:nth-of-type(2)>ul>li {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main>section:nth-of-type(2)>ul>li>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main>section:nth-of-type(2)>ul>li>div>h3 {
    text-align: left;
    font-size: 1.5em;
}

main>section:nth-of-type(2)>ul>li>div>p {
    text-align: left;
    font-size: 1em;
    padding: 0;
}

main>section:nth-of-type(2)>ul>li>div>a {
    text-align: center;
    font-size: 1em;
    background-color: var(--color-orangered);

    padding: 0.8em 1.5em;

    text-decoration: none;
    color: var(--color-textwhite);

    width: 16.875em;

    transition: 0.2s;
}

main>section:nth-of-type(2)>ul>li>div>a>svg {
   width: 1em;
   height: auto;
   position: relative;
   top:0.1em;
}

main>section:nth-of-type(2)>ul>li>div>a:hover {
    transform: scale(1.1);
    background-color: var(--background-black);
}

main>section:nth-of-type(2)>ul>li>div:nth-of-type(2) {
    background-color: black;
    height: 17.125em;
    width: auto;
    padding:2em;
    margin: 2em 0;
    justify-content: center;
}

main>section:nth-of-type(2)>ul>li>div:nth-of-type(2)>img {
    width: 60%;
    height: auto;
    align-self: center;
}

main>section:nth-of-type(3) {
    
    background-image: linear-gradient(to bottom, #ff4b0a, #ff0246);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 3em  1em;

}

main>section:nth-of-type(3)>h2 {
    color: var(--color-textwhite);
    text-align: left;
    font-size: 2em;
}

main>section:nth-of-type(3)>p {
    color: var(--color-textwhite);
    text-align: left;
    padding:0
}

main>section:nth-of-type(3)>a {
    color: var(--color-textblack);
    text-align: center;

    text-decoration: none;
    padding: 1em;
    background-color: white;
    border-radius: 4px;
    font-family: "sharp grotesk";
    margin: 1em 0;
}

