@font-face {
	font-family: "tusker grotesk";
	src: url(../fonts/tusker-grotesk-4500-medium.ttf);
}

@font-face {
	font-family: "sharp grotesk";
	src: url(../fonts/SharpGroteskBook18-Regular.ttf);
}






/**************/
/* CSS REMEDY */
/**************/


*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding:0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-textwhite: white;
	--primary-font-family: "Roboto";
    --primary-font-weight: 600;
    --secondary-font-family: "Roboto Slab";
    --secondary-font-weight: 400;
    --text-font-family: "Roboto";
    --text-font-weight: 400;
    --accent-font-family: "Roboto";
    --accent-font-weight: 500;

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/* Common css*/
/****************/


iframe {
	border-radius: 1em;
}

h2 {
	font-family: "tusker grotesk";
	text-transform: uppercase;
	text-align: center;
	font-size:3.5em;
	font-weight: bold;
}

h3 {
	font-family: "tusker grotesk";
	text-transform: uppercase;
	text-align: center;
	font-size:3em;
	font-weight: bold;
}

b {
	font-weight: bolder;
}






/***********/
/* Header*/
/**********/

header > section > ul {
	display: flex;
}

header > section > ul > li {
	min-width: 12em;
	max-width: 30em;

	display: flex;
	flex-wrap: wrap;
	column-gap: .5em;
	align-items: center;
	background-color: #111;
	padding: .6em 0.7em 1.1em 1.1em;
	
}


header > section > ul > li > p {
	color: var(--color-textwhite);
	letter-spacing: 1px;	
	font-family: "sharp grotesk";
}



/* location text p*/

header > section > ul > li > p:nth-of-type(1) {
	font-size: 0.9em;
	line-height: 1.5em;
	padding-top: 0.2em;
	font-family: "tusker grotesk";
	text-transform: uppercase;

}



/* both 2nd and 3rd p combined css */

header > section > ul > li > p:nth-of-type(2),
header > section > ul > li > p:nth-of-type(3) {
	line-height: 0.9em;
	font-size: 0.7em;
}


/* date p top */

header > section > ul >li > p:nth-of-type(2) {
	display: flex;
	gap: .25em; 
	margin-top: .4em;
}

header > section > ul > li > p:nth-of-type(2) > time {
	flex-shrink: 0;
}



/* on sale a */

header > section > ul > li > a {
	background-color: red;
	border-radius: .125em;
	padding: 0 0.2em;
	color: var(--color-textwhite);
	text-decoration: none;
	font-family: "sharp	 grotesk";
}



/* second header */

header > section:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	place-items:center;
	background-color: black;
	padding: 1em;
}



/* dreamhack logo in second header */

header > section > a:first-child > img:nth-of-type(1) {
	width: 237px;
	height:auto;
	
}

header > section > a:first-child {
	padding: 0.6em 0.7em 0.6em 1.2em;	
}

header > section:nth-of-type(2) button {
	display:grid;
  	place-items:center;
	background-color: black;
	border: none;
	height: 2em;
	width: 2em;
}

header > section:nth-of-type(2) > button > span {
	grid-row-start:1;
  	grid-column-start:1;
	width:1.6em;
	height:.21em;
	border-radius: 1em;
	transition-duration:.5s;
	background-color: orangered;
}

header > section:nth-of-type(2) > button > span:nth-of-type(1) {
	transform:translateY(-.42em);
}

header > section:nth-of-type(2) > button > span:nth-of-type(3) {
	transform:translateY(.42em);
}




/* nav button transform */

header > section:nth-of-type(2) > button.menuOpen > span {
	background-color: white;
}

header > section:nth-of-type(2) > button.menuOpen > span:nth-of-type(1) {
	transform:rotate(45deg) 
	scalex(1.25);
	height:.25em;
}

header > section:nth-of-type(2) > button.menuOpen > span:nth-of-type(2) {
	opacity:0;
}

header > section:nth-of-type(2) > button.menuOpen > span:nth-of-type(3) {
	transform:rotate(-45deg) 
	scalex(1.25);
	height:.25em;
}







/************************/
/* main 1st section css*/
/***********************/

main > section:nth-of-type(1) {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap:1em;
	padding: 2em 0;

	background-image: url(https://dreamhack.com/dallas/wp-content/uploads/sites/17/2022/05/warp-festival-header.svg);
	background-color: #111;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

main > section:nth-of-type(1) > h1 {
	color:var(--color-textwhite);
	font-family: "tusker grotesk";
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0 1.1em;
}

main > section:nth-of-type(1) > p {
	color: var(--color-textwhite);
}

main > section:nth-of-type(1) > p:nth-of-type(1) {
	font-family: "sharp grotesk";
	margin: 1.2em 0 0;
	line-height: 0.5em;
}

main > section:nth-of-type(1) > p:nth-of-type(2) {
	font-family: "sharp grotesk";
	margin: -0.7em 0 2em;
}

main > section:nth-of-type(1) > a {
	background-color: red;
	text-decoration: none;
	color: var(--color-textwhite);
	border-radius: .5em;
	padding: 1em 2.2em;

	font-family: "sharp grotesk";
	font-size: 0.9em;
}










/************************/
/* main 2st section css*/
/***********************/

main > section:nth-of-type(2) > div > p {
	color: #333;
	font-family: "sharp grotesk";
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}









/************************/
/* main 3rd section css*/
/***********************/


main > section:nth-of-type(3) {
	background-image: url(https://dreamhack.com/dallas/wp-content/uploads/sites/17/2022/05/warp-festival-header.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255,255,255,0.91);
	background-blend-mode: lighten;
}

main > section:nth-of-type(2) > div {
	padding: 1em 2em;
	margin-bottom: 5em;
}


main > section > a:nth-of-type(3) {
	background-color: #f003;
	border: 1px orange solid;
}

main > section > a:nth-of-type(3)::after {
	content: ' 🎫';
	filter: grayscale(1);
}


main > section:nth-of-type(3) > h3 {
	margin-bottom: 1em;
}


/* list section locations */

main > section:nth-of-type(3) {
	padding: 2em;
}


main > section:nth-of-type(3) > ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3em;
}

main > section:nth-of-type(3) > ul > li { 
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #f2f2f2;
	width: 363.3px;
}

main > section:nth-of-type(3) > ul > li > div:nth-of-type(1) {
	order: 2;
	display: flex;
	flex-direction: column;
	padding: 1.5em;
}

main > section:nth-of-type(3) > ul > li > div > img {
	width: 363px;
	height: 250px;
	transition: all .7s ease;
    vertical-align: middle;
}

main > section:nth-of-type(3) > ul > li > div > img:hover {
	transform: scale(1.2);
	filter: brightness(.7);
}

main > section:nth-of-type(3) > ul > li > div:nth-of-type(2) {
	order: 1;
	display: inline-block;
	overflow: hidden;
}



main > section:nth-of-type(3) > ul > li > div > p {
	order: 3;
	font-family: "sharp grotesk";
	font-size: 1em;
	color: gray;
}

main > section:nth-of-type(3) > ul > li > div > p:nth-of-type(3) {
	margin-bottom: 1em;
}

main > section:nth-of-type(3) > ul > li > div h4 {
	font-family: "tusker grotesk";
	font-size: 1.6em;
	order: 2;
	color: black;
	text-transform: uppercase;
}

main > section:nth-of-type(3) > ul > li > div > a {
	order: 4;
	width: 10em;
	background-color: red;
	text-decoration: none;
	text-align: center;
	color: var(--color-textwhite);
	border-radius: .2em;
	padding: 1.5em 1em;

	font-family: "sharp grotesk";
	font-size: 0.9em;
}

/************************/
/* main 4th section css*/
/***********************/

main > section:nth-of-type(4) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #f2f2f2;
	padding: 1%;
	gap: 4em;
	margin:1% 1% 20% 1%;
}

main > section:nth-of-type(4) > div:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding: 10% 5% 5% 5%;
	gap: 1em;
}

main > section:nth-of-type(4) > div:nth-of-type(1) > h3{
	text-align: left;
	font-size: 2.4em;
}

main > section:nth-of-type(4) > div:nth-of-type(1) > p{
	max-width: 34em;
	text-align: left;
	font-family: "sharp grotesk";
	color: gray;
}

main > section:nth-of-type(4) > div:nth-of-type(2) > img {
	width: 100vw;
	max-width: 30em;
	height:auto;
}

main > section:nth-of-type(4) > div:nth-of-type(1) > a {
	border: solid 1px #000000BD;
	padding: 18px;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	color: black;
	font-family: "sharp grotesk";
	font-size: 18px;
	width: 20em;
}

