@font-face {
	font-family: "tusker grotesk";
	src: url(../fonts/tusker-grotesk-4500-medium.ttf);
}

@font-face {
	font-family: "sharp grotesk";
	src: url(../fonts/SharpGroteskBook18-Regular.ttf);
}


/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-textwhite: white;
	--color-textblack: black;
	--color-orangered: #ff4b0a;
	--color-textred: red;
	--color-svgwhite: white;
	--color-red: red;
	--clr-hoverred: #FF0246;

	--background-black: black;
	--background-white: white;


	--clr-topheader: #111;
	--clr-topheaderbutton: #333;

	--sharpfont: "sharp grotesk";
	--tuskerfont: "tusker grotesk";

}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************/
/* Common css*/
/****************/


iframe {
	border-radius: 1em;
	border: none;
	width: 100%;
	aspect-ratio: 16/9;
	max-width: 75em;
}

h1 {
	font-family: "tusker grotesk";
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-family: "tusker grotesk";
	text-transform: uppercase;
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
}

h3 {
	font-family: "tusker grotesk";
	text-transform: uppercase;
	text-align: center;
	font-size: 3em;
	font-weight: 600;
	line-height: 1.14em;
}

p {
	color: #333;
	font-family: "sharp grotesk";
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
	padding: 1em 1em 2em 1em;
}

b {
	font-weight: bolder;
}






/***********/
/* Header*/
/**********/


header>nav:nth-of-type(1)>ul {
	display: flex;
	overflow-x: scroll;
	cursor: grab;
	overflow: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
}

header>nav>ul::-webkit-scrollbar {
	display: none;
}

header>nav:nth-of-type(1)>ul>li {
	min-width: 12em;
	max-width: 30em;
	height: 4.8em;

	display: flex;
	flex-direction: column;
	column-gap: .5em;
	background-color: var(--clr-topheader);
	padding: .6em .7em 1.1em 1.1em;

	flex-basis:50%;
	flex-shrink:0;

	scroll-snap-align: start;
}


header>nav:nth-of-type(1)>ul>li>p {
	color: var(--color-textwhite);
	letter-spacing: 1px;
	font-family: var(--sharpfont);
	padding: 0;
	text-align: left;
}



/* location text p*/

header>nav:nth-of-type(1)>ul>li>p:nth-of-type(1) {
	font-size: 0.9em;
	line-height: 1.5em;
	padding-top: 0.2em;
	font-family: var(--tuskerfont);
	text-transform: uppercase;

}



/* both 2nd and 3rd p combined css */

header>nav:nth-of-type(1)>ul>li>p:nth-of-type(2),
header>nav:nth-of-type(1)>ul>li>p:nth-of-type(3) {
	line-height: 0.9em;
	font-size: 0.7em;
}


/* date p top */

header>nav:nth-of-type(1)>ul>li>p:nth-of-type(2) {
	display: flex;
	gap: .25em;
	margin-top: .4em;
}

header>nav:nth-of-type(1)>ul>li>p:nth-of-type(2)>time {
	flex-shrink: 0;
}



/* on sale a */

header>nav:nth-of-type(1)>ul>li>p>a {
	background-color: var(--clr-hoverred);
	border-radius: .125em;
	padding: 0.2em 0.2em;
	margin-left: 0.2em;
	color: var(--color-textwhite);
	text-decoration: none;
	font-family: var(--sharpfont);
}

/*skip to end button nav */


header>nav:nth-of-type(1) button{
	background-color: var(--clr-topheaderbutton);
	border: none;
	color: var(--color-svgwhite);

	position: absolute;
	top: 0;
	right: 1%;

	width: 3.2em;
	height: 5.7em;

	display: none;
}

header>nav:nth-of-type(1) button svg{
	transition: 0.2s;
}

header>nav:nth-of-type(1) button:hover{
	background-color: var(--clr-hoverred);
	transition: 0.2s ease-in;
}

@media (min-width:48em) {
	header>nav:nth-of-type(1)>ul>li {
		flex-basis:calc(100% / 3);
	}
	
	header>nav:nth-of-type(1) button {
		display:block;	
	}
}

@media (min-width:60em) {
	header>nav:nth-of-type(1)>ul {
		overflow:visible;
	}
	
	header>nav:nth-of-type(1)>ul>li {
		flex-basis:calc(100% / 6);
	}
	
	header>nav:nth-of-type(1) button {
		display:none;	
	}
}





/* second header */

header>nav:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	place-items: center;
	background-color: var(--background-black);
	padding: 1em 2em;
}


header>nav:nth-of-type(2)>ul {
	display: none;
	list-style: none;
	gap: 1em;
	transition: 0.2s;
}

header>nav:nth-of-type(2)>ul>li {
	padding: 0;
	margin: 0;
	background-color: var(--background-black);
	transition: 0.2s;
}

header>nav:nth-of-type(2)>ul>li>a {
	color:var(--color-textwhite);
	text-decoration: none;
	font-family: var(--sharpfont);
	font-size: 1em;
	transition: 0.2s;
}

header>nav:nth-of-type(2)>ul>li>a:hover {
	color: var(--color-orangered);
}







/* dreamhack logo in second header */

header>nav>a:first-child>img:nth-of-type(1) {
	width: 237px;
	height: auto;

}



header>nav>a:first-child {
	padding: 0.6em 0.7em 0.6em 1.2em;
}

header>nav:nth-of-type(2) button {
	display: grid;
	place-items: center;
	background-color: var(--background-black);
	border: none;
	height: 2em;
	width: 2em;
}

@media (min-width:48em) {
	header>nav:nth-of-type(2) button {
		display: none;
	}

	header>nav:nth-of-type(2)>ul {
		display: flex;
		gap: 2em;
	}
}

@media (min-width:60em) {
	header>nav:nth-of-type(2)>ul {
		gap: 3em;
	}

}

header>nav:nth-of-type(2)>button>span {
	grid-row-start: 1;
	grid-column-start: 1;
	width: 1.6em;
	height: .21em;
	border-radius: 1em;
	transition-duration: 0.5s;
	background-color: var(--color-orangered);
}

header>nav:nth-of-type(2)>button:hover>span {
	background-color: var(--background-white);
}

header>nav:nth-of-type(2)>button>span:nth-of-type(1) {
	transform: translateY(-.42em);
}

header>nav:nth-of-type(2)>button>span:nth-of-type(3) {
	transform: translateY(.42em);
}




/* dropdown menu*/


header nav:nth-of-type(2) div {
	width: 100%;
	border-radius: 6px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    margin-top: 17px;
    position: absolute;
    left: 0;
    top: 19%;
    display: block;
    background-color: var(--background-white);
	transition: 0.4s;
    z-index: 10;
	transform: scaleY(0);
	transform-origin: top center;
	max-height: 0;
}

header nav:nth-of-type(2) div.menuOpen {
	transform: scaleY(1);
	max-height: 100vh;
}

header nav:nth-of-type(2) div a {
	text-decoration: none;
	display: block;	
	font-family: "sharp grotesk";
	padding: 0.8em 1em;
}

header nav:nth-of-type(2) div a:hover {
	background-color: #f2f2f2;
	color: #ff4b0a;
	border-radius: 6px;
}




/* nav button transform */

 header>nav:nth-of-type(2)>button.menuOpen:hover span {
	background-color: white;
} 

header>nav:nth-of-type(2)>button.menuOpen>span:nth-of-type(1) {
	transform: rotate(45deg) scalex(1.25);
	height: .25em;
}

header>nav:nth-of-type(2)>button.menuOpen>span:nth-of-type(2) {
	opacity: 0;
}

header>nav:nth-of-type(2)>button.menuOpen>span:nth-of-type(3) {
	transform: rotate(-45deg) scalex(1.25);
	height: .25em;
}


/*************/
/* Footer css*/
/*************/

footer {
	background-color: black;
	max-height: 25em;
}

footer>section:nth-of-type(1) {
	display: flex;
	justify-content: space-evenly;

	padding: 0.875em;
}

footer>section:nth-of-type(1)>img {
	width: 50px;
	height: auto;
}

footer>section:nth-of-type(2) {
	padding: 3.75em 1em;

	display: flex;
	align-items: center;
	flex-direction: column;
}

footer>section:nth-of-type(2)>section:nth-of-type(1)>a {
	color: white;
	padding: 0.6em;
}

footer>section:nth-of-type(2)>section:nth-of-type(2)>a {
	display: flex;

	color: white;
	padding: 0.5em;

	font-family: "sharp grotesk";
	font-size: 1em;
	text-decoration: none;
}

footer>section:nth-of-type(2)>section:nth-of-type(2)>a:hover {
	color: #ff4b0a;
	transition: 1s;
}


footer>section:nth-of-type(2)>a:nth-of-type(1)>i::before {
	content: "\f39e";
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}

footer>section:nth-of-type(2) img {
	width: 250px;
	height: auto;
}

footer>section:nth-of-type(2)>section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 1em;
}

footer>section:nth-of-type(2)>section:nth-of-type(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}



footer>section:nth-of-type(3) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-decoration: none;
	color: gray;
	padding: 0.875em;
}

footer>section:nth-of-type(3)>a {
	text-decoration: none;
	color: gray;
	font-size: 1.125em;
	font-family: "sharp grotesk", sans-serif;
}

footer>section:nth-of-type(3)>a:hover {
	color: white;

}



/* SVG's */

section > a > svg > path {
	fill: white;
	transform: scale(0.1);
}

section > a:nth-of-type(2) > svg > path {
	fill: white;
	transform: scale(1.1);
}

section > a:nth-of-type(3) > svg > path {
	fill: white;
	transform: scale(0.7);
}

section > a:nth-of-type(4) > svg > path {
	fill: white;
	transform: scale(1.1);
}

section > a:nth-of-type(5) > svg > path {
	fill: white;
	transform: scale(0.6);
}

section > a:nth-of-type(6) > svg > path {
	fill: white;
	transform: scale(1.4);
}


svg {
	width: 32px;
	height: 32px;
}